body {
    background-color: #f44336;
    padding: 20px;
    color: #fff;
  }
  
  .pokedex {
    max-width: 600px;
    margin: 0 auto;
    background: #e53935;
    border: 5px solid #212121;
    border-radius: 20px;
    box-shadow: 0 0 20px #000;
    padding: 20px;
    text-align: center;
  }
  
  .pokedex h1 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #ffeb3b;
    text-shadow: 2px 2px #000;
  }
  
  .pokemon-table {
    width: 100%;
    border-collapse: collapse;
    background: #fafafa;
    color: #212121;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 10px #000;
  }
  
  .pokemon-table thead {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    color: #333;
  }
  
  .pokemon-table th,
  .pokemon-table td {
    padding: 12px;
    font-size: 14px;
    border-bottom: 1px solid #bdbdbd;
  }
  .pokemon-table tbody th {
    text-align: center;
    font-weight: normal;
    padding: 0.75rem;
    font-size: 1.1rem;
    color: #555;
  }
  
  .pokemon-table tbody tr:last-child td {
    border-bottom: none;
    background-color: #f8f8f8;
  }

  .fila {
    text-align: center;
    font-weight: 500;
    padding: 0.75rem;
    font-size: 1.1rem;
    color: #444;
    border-bottom: 1px solid #ddd;
  }
  