<body>
    <div class="pokedex">
        <div id="pokemon-list">
            <div>
                <h1>¡Pokemons de {{ this.datosUsuario.nombre }}!</h1>
                <table class="pokemon-table">
                    <thead>
                        <tr>
                            <th scope="col"> Types </th>
                            <th scope="col"> Pokemon </th>
                            <th scope="col"> Nivel </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (pokemon of pokemonsUsuario; track $index) {
                            <tr>
                                
                                <td class="tipos"> {{ getTipos(pokemon.pokemon) }} </td>
                                <td class="pokemon"> {{ capitalize(pokemon.pokemon.name) }} </td>
                                <td class="lvl">{{ pokemon.lvl }}<td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>