<body>
    <div class="pokedex">
        <div id="pokemon-list">
            <div>
                <h1>Pokemons!</h1>
                <table class="table table-hover">
                    <thead class="table-danger">
                        <tr>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <p></p>
            <p></p>
            <p></p>
        </div>
    </div>
</body>