<body>
    <div class="pokedex">
        <div id="pokemon-list">
            <div>
                <h1>Pokemons!</h1>
                <table class="pokemon-table">
                    <thead>
                        <tr>
                            <th scope="col"> {{ this.datosUsuario.nombre }} </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @for (pokemon of pokemonsUsuario; track $index) {
                                <tr>
                                    
                                    <th class="row"> {{ getTipos(pokemon) }} {{ pokemon.name }}</th>
                                </tr>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>