<div>
    <h1>Pokemons!</h1>
    <table class="table table-hover">
        <thead class="table-danger">
            <tr>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @for (pokemon of productList; track $index){
                    <tr>
                        <th class="row"> {{ pokemon.name }}</th>                        
                    </tr>
                }
            </tr>
        </tbody>
    </table>
</div>
