.logo {
  display: block; 
  margin: 0 auto;
}



.login-container {
    width: 300px;
    margin: 50px auto;
  }
  
  input {
    width: 100%;
    margin-bottom: 10px;
  }
  
  small {
    color: red;
  }